body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 80%;
    margin-inline: auto;
    padding: 0ch, 10ch;
    font: inherit

   }

a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;

}
a:hover {
        margin-bottom: 0ch;
        border-bottom-width: 0.4em;
        border-bottom-style: solid;
        border-bottom-color: var(--color-accent);
        /* background-color: oklch(from var(--color-accent) 95% 5% h); */
        background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    
}
.current{
    style=margin-bottom: 0ch;
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: oklch(50% 10% 200 / 40%)
}
nav {
    display: flex;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    --border-color: oklch(50% 10% 200 / 40%);
    /* border-bottom-color: oklch(80% 3% 200); */
    border-bottom-color: var(--border-color);
    

}

html {
    --color-accent: oklch(60% 0.143 18.93 / 98.73%);
    accent-color: var(--color-accent);
    
    color-scheme: light dark;

}

form {
    /* Make these elements behave like block elements,
       i.e. create line breaks before and after
     */
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}
label, button {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    
}

img {
    max-width: 100%;
}
   
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    column-gap: 10px
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;


}

h2 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

.resume{
    display: grid;
    grid-template-columns: repeat(2,minmax(15em, 1fr));
}

.color-scheme{
    position: absolute;
    top: 1rem;
    right: 1rem;


}

/* input,textarea, button, select{
    massing around with font?
} */